<md-dialog aria-label="calendar dialog" class="addDialog">
    <md-dialog-content>
        <div ng-init="formView = 'event'" class="navView">
            <md-nav-bar nav-bar-aria-label="Calender form navigation" md-selected-nav-item="formView">
                <md-nav-item md-nav-click="goto('event')" name="event">
                    {{'ADD_EVENT' | translate}}
                </md-nav-item>
                <md-nav-item md-nav-click="goto('url')" name="url">
                    {{'IMPORT_FEED' | translate}}
                </md-nav-item>
            </md-nav-bar>
            <form ng-submit="ctrl.addCalItem(ctrl.calWidgetId)">
                <div class="navView" ng-show="formView === 'event'">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{'TITLE' | translate}}</label>
                        <input ng-model="ctrl.calItemForm.title">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-checkbox ng-model="ctrl.calItemForm.allDay" aria-label="all day">
                            {{'ALL_DAY' | translate}}
                        </md-checkbox>
                    </md-input-container>
                    <div layout-gt-xs="row">
                        <label>Start</label>
                        <mdp-date-picker mdp-placeholder="Date" ng-model="ctrl.calItemForm.start.date"></mdp-date-picker>
                        <mdp-time-picker ng-hide="ctrl.calItemForm.allDay" mdp-placeholder="Time" ng-model="ctrl.calItemForm.start.time"></mdp-time-picker>
                    </div>
                    <div layout-gt-xs="row" ng-hide="ctrl.calItemForm.allDay">
                        <label>{{'END' | translate}}</label>
                        <mdp-date-picker mdp-placeholder="Date" ng-model="ctrl.calItemForm.end.date"></mdp-date-picker>
                        <mdp-time-picker mdp-placeholder="Time" ng-model="ctrl.calItemForm.end.time"></mdp-time-picker>
                    </div>
                </div>
                <div class="navView" ng-show="formView === 'url'">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Url</label>
                        <input ng-model="ctrl.calItemForm.url">
                    </md-input-container>
                    <p>{{'HOW_FEED' | translate}}</p>
                    <ol>
                        <li>{{'HOW_FEED_1' | translate}}</li>
                        <li>{{'HOW_FEED_2' | translate}}</li>
                        <li>{{'HOW_FEED_3' | translate}}</li>
                    </ol>
                </div>
                <md-button type='submit' class="md-raised md-primary">{{'ADD' | translate}}</md-button>
                <md-button class="md-raised" ng-click="ctrl.closeDialog()">{{'CANCEL' | translate}}</md-button>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>