/*  === GENERAL  === */
html,
body {
  min-height: 100%;
  height: auto;
}
h1,
h2,
h3 {
  font-family: 'Allerta', sans-serif;
}
p,
span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
strong {
  font-size: 18px;
}
.btn-primary {
  background-color: #00897b !important;
}
.btn-secondary {
  color: #00897b !important;
}
.md-input-container {
  margin: 0 !important;
}
.showTrans.ng-hide {
  transition: all linear 1s;
  opacity: 0;
}
hr {
  filter: brightness(30%);
}
.smallText {
  font-size: 10px;
  opacity: 0.8;
}
.input-group {
  padding-bottom: 16px;
  width: 100%;
}
.input-group input[type=text] {
  background-color: transparent;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
}
.input-group .input-group-btn {
  outline: none;
  box-shadow: none;
}
.input-group .input-group-btn button {
  background-color: transparent;
  padding: 4px 4px;
  outline: none;
}
.input-group .input-group-btn button md-icon {
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  color: inherit;
}
.input-group .input-group-btn button md-icon svg {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.input-group .input-group-btn button:hover md-icon svg {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*  === NAVIGATION  === */
.navbar {
  margin-bottom: 0;
  background-color: #2f2f2f;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding-left: 10px;
  padding-right: 10px;
}
.navbar .navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar .navbar-toggle:hover {
  background: transparent !important;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #fafafa;
  width: 22px;
  transition: all 0.2s;
}
.navbar .navbar-toggle .icon-bar:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar .navbar-toggle .icon-bar:nth-child(3) {
  opacity: 0;
}
.navbar .navbar-toggle .icon-bar:nth-child(4) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar .navbar-toggle.collapsed .icon-bar:nth-child(2) {
  transform: rotate(0);
}
.navbar .navbar-toggle.collapsed .icon-bar:nth-child(3) {
  opacity: 1;
}
.navbar .navbar-toggle.collapsed .icon-bar:nth-child(4) {
  transform: rotate(0);
}
.navbar .navbar-brand {
  font-weight: bold;
  color: #fff !important;
  font-family: 'Allerta', sans-serif;
  text-transform: uppercase;
  padding-top: 12px;
}
.navbar .navbar-brand img {
  width: 30px;
}
.navbar .flatname {
  text-align: center;
  width: 68%;
  left: 16%;
  position: absolute;
  padding-top: 18px;
}
.navbar .flatname p {
  font-size: 25px;
}
.navbar .navbar-nav li a {
  color: #fff;
}
.navbar .navbar-nav p {
  float: right;
  width: calc(100% - 24px);
  padding-left: 24px;
}
.navbar .icon {
  color: #fff;
}
.navbar .activePage,
.navbar .activePage .icon,
.navbar a:hover .icon,
.navbar a:hover,
.navbar .activePage a p {
  color: #00897b !important;
}
.navbar .activePage .visible-xs,
.navbar .activePage .icon .visible-xs,
.navbar a:hover .icon .visible-xs,
.navbar a:hover .visible-xs,
.navbar .activePage a p .visible-xs {
  font-weight: bold;
}
.navbar .userMenu button {
  height: 54px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/*  === PAGE === */
.page {
  padding-top: 78px;
  min-height: 100vh;
  padding-bottom: 24px;
}
/* === LOADSCREEN === */
#loadScreen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  z-index: 100;
  padding-top: 10%;
}
#loadScreen md-progress-circular {
  margin-left: auto;
  margin-right: auto;
}
/* === TRANSLATE === */
#translate {
  position: fixed;
  bottom: 0;
  background-color: #2f2f2f;
  color: #fafafa;
  padding: 8px;
  left: 25px;
}
#translate p {
  margin-bottom: 0;
  font-size: 10px;
}
#translate p span {
  outline: none;
  font-size: 10px;
}
#translate p span:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*  === ERROR === */
#error {
  padding-top: 50px;
  position: relative;
}
#error h3 {
  position: absolute;
  z-index: 5;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #d43f3a;
  color: #d43f3a;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 20px;
}
/*  === HOME  === */
.homepage {
  background-size: cover;
  background-image: url('/img/intro.jpg');
}
.homepage .homediv {
  background-color: rgba(255, 255, 255, 0.77);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin-top: 5%;
  padding: 16px;
}
.homepage .intro {
  text-align: center;
}
.homepage .intro h1 {
  margin-top: 0;
  text-transform: uppercase;
  color: #00897b;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 50px;
}
.homepage .intro img {
  width: 35%;
}
.homepage h2 {
  text-align: center;
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 24px;
}
/* === LOGIN & REGISTER & FLAT & PROFILE & INVITE  === */
.login h1,
.register h1,
.flat h1,
.profile h1,
.invite h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #00897b;
}
/* === SETTINGS === */
.settings .md-nav-bar {
  margin-bottom: 24px;
}
.settings h2 {
  color: #00897b;
}
.settings #userSettings .roommateSettings {
  margin-bottom: 24px;
}
.settings #userSettings .roommateSettings div {
  word-break: break-all;
}
.settings .inviteBtns {
  margin-top: 16px;
}
.settings .moveBtn {
  margin-top: 30px;
}
.settings .previewBackgroundImg {
  width: 100%;
  padding-bottom: 8px;
}
.settings #widgetPreview h3 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  max-width: 80%;
  font-size: 1.5em;
}
.settings #widgetPreview .panel {
  border: none;
}
.settings #widgetPreview .panel .panel-heading {
  padding: 5px 15px;
  border: none;
}
.settings #widgetPreview .resize {
  float: right;
}
/* === DASHBOARD === */
#dashboardBackground {
  background-size: cover;
  position: fixed;
  width: 100%;
  min-height: 100vh;
}
#notification {
  position: fixed;
  z-index: 20;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  top: 49px;
  border-radius: 5px;
  color: #00897b;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.addWidgetBtn {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
.addWidgetBtn .badge1 {
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 25;
  padding: 2px 8px;
  border-radius: 15px;
  color: white;
  background-color: red;
}
.md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  position: fixed;
}
/* === WIDGETS === */
.widget.recentlyAdded {
  border: 3px solid #d43f3a;
}
.widgetBtn {
  font-weight: bold;
}
.widget {
  margin: 8px;
  height: 100%;
  overflow: hidden !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  /* TODO WIDGET */
  /* PICTURE && GIF WIDGET */
  /* BILL WIDGET */
  /* GROCERY WIDGET */
  /* WEATHER WIDGET */
  /* TEXT WIDGET */
  /* CALENDER WIDGET */
  /* CHORE WIDGET */
}
.widget .widgetHeader {
  padding: 8px 16px 0;
}
.widget .widgetHeader h3 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  max-width: 80%;
  font-size: 24px;
}
.widget .widgetHeader .type {
  width: 100%;
}
.widget .widgetHeader .type p {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}
.widget .widgetBody {
  padding: 24px 16px;
}
.widget .resize {
  float: right;
}
.widget .resize .fa {
  cursor: pointer;
}
.widget ul {
  list-style: none;
  padding-left: 0;
}
.widget .todo li {
  cursor: pointer;
}
.widget .todo li div {
  display: inline-block;
}
.widget .todo li div:hover {
  font-weight: bold;
}
.widget .todo li .deleteTodo {
  float: right;
  display: none;
  font-size: 19px;
}
.widget .todo li:hover .deleteTodo {
  display: block;
}
.widget .todo .deleteTodo:hover {
  color: #d43f3a;
}
.widget .picture {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: calc(100% - 64px);
  margin: -23px -16px;
  position: absolute;
  width: 100%;
}
.widget .bill li {
  margin-bottom: 16px;
}
.widget .bill li p {
  display: inline-block;
  margin-bottom: 0;
}
.widget .bill .smallText {
  margin: 16px 0 8px;
}
.widget .bill .smallText:first-child {
  margin-top: 0;
}
.widget .bill .paid span,
.widget .bill .unpaid:hover span {
  text-decoration: line-through;
}
.widget .grocery li {
  padding-bottom: 16px;
}
.widget .grocery li md-icon {
  color: inherit;
  opacity: 0.5;
}
.widget .grocery li:hover {
  font-weight: bold;
}
.widget .grocery li:hover md-icon {
  opacity: 1;
}
.widget .weather div {
  text-align: center;
}
.widget .weather div i {
  font-size: 7em;
}
.widget .weather div p {
  margin-top: 16px;
  margin-bottom: 0;
}
.widget .calender .newCalItem {
  background-color: black;
  color: white;
  border-color: black;
}
.widget .chore tr,
.widget .chore td {
  border: solid 1px #f4f4f4;
  text-align: center;
}
.widget .chore tr p,
.widget .chore td p {
  margin: 16px 0;
  font-size: 12px;
}
.widget .chore tr td:nth-child(2n+1),
.widget .chore td td:nth-child(2n+1) {
  background-color: rgba(47, 47, 47, 0.05);
}
.widget .chore thead p {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin: 0 0 16px;
}
.widget .chore thead th {
  padding-top: 0;
  border-top-style: hidden!important;
  border-left-style: hidden!important;
  border-right-style: hidden!important;
  border-bottom: solid 1px #f4f4f4;
}
.widget .chore tbody th {
  border-top-style: hidden!important;
  border-left-style: hidden!important;
  border-bottom-style: hidden!important;
  border-right: solid 1px #f4f4f4;
}
.widget .chore tbody th p {
  font-size: 16px;
}
/* === DIALOGS === */
.md-dialog-container {
  height: 100vh !important;
  position: fixed;
}
.addDialog {
  min-width: 50%;
}
.addDialog .navView {
  padding: 16px;
  min-height: 50vh;
}
.addDialog .navView h2 {
  color: #00897b;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.addDialog .navView form h2 {
  margin-bottom: 32px;
}
.smallDialog {
  text-align: center;
  padding: 16px;
}
.smallDialog md-dialog-content {
  overflow: initial;
}
/* === WIDGET DIALOG === */
#widgetDialog .widgetBlock {
  min-height: 50vh;
  background-color: #fafafa;
  padding: 16px;
}
#widgetDialog .widgetBlock h1 {
  color: #00897b;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}
#widgetDialog .widgetBlock .typeBlock {
  float: left;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  margin: 8px;
  color: #00897b;
  border: 1px solid #00897b;
  border-radius: 3px;
  word-wrap: break-word;
}
#widgetDialog .widgetBlock .typeBlock .icon {
  color: #00897b;
}
#widgetDialog .widgetBlock .typeBlock:hover {
  color: #fafafa;
  background-color: #00897b;
}
#widgetDialog .widgetBlock .typeBlock:hover .icon {
  color: #fafafa;
}
#widgetDialog .widgetBlock .restoreTable tr:first-child td {
  border: none;
}
#widgetDialog .widgetBlock .restoreTable p {
  margin-top: 10px;
}
#widgetDialog .widgetBlock .restoreTable .md-accent {
  margin: 0 8px;
}
#widgetDialog #imgPreview {
  width: 20%;
}
/* === CHAT POPUP === */
#chat {
  position: fixed;
  bottom: 100px;
  right: 24px;
  width: 255px;
  height: 290px;
}
#chat .chatHeader {
  background-color: #00897b;
  color: #fafafa;
  padding: 4px 8px 2px 16px;
}
#chat .chatHeader h3 {
  font-size: 18px;
  display: inline-block;
  margin: 0;
}
#chat md-card-content {
  padding-top: 0;
}
#chat .msgs {
  height: 185px;
  display: flex;
  flex-direction: column-reverse;
}
#chat .msgs .msg .sender {
  margin-bottom: 0;
  font-size: 12px;
  color: grey;
}
#chat .msgs .msg .text {
  font-size: 12px;
  margin-bottom: 2px;
  background-color: #00897b;
  color: #fff;
  padding: 5px 8px;
  border-radius: 12px;
}
#chat .sendMsg {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
}
#chat .sendMsg md-input-container {
  margin-top: 16px !important;
  margin-bottom: 0;
  width: 85%;
  margin: auto;
}
#chat .sendMsg md-input-container md-icon {
  cursor: pointer;
}
.chatArrow div {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  right: 0px;
}
.chatArrow .arrow {
  border-top: 20px solid #fafafa;
  bottom: -19px;
  z-index: 5;
}
.chatArrow .shadow {
  border-top: 20px solid rgba(0, 0, 0, 0.27);
  bottom: -21px;
}
/* === TRANSITIONS === */
.showTrans {
  transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  -webkit-transition: 0.3s linear all;
  opacity: 1;
}
.showTrans.ng-hide {
  opacity: 0;
}
.flipTrans {
  transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  -webkit-transition: 0.3s linear all;
  height: initial;
  padding: 16px;
}
.flipTrans.ng-hide {
  height: 0;
  padding: 0 !important;
}
@media screen and (max-width: 768px) {
  #loadScreen {
    padding-top: 20%;
  }
}
