@backgroundColor: #f8f8f8;
@mainColor: rgb(0,137,123);
@secondaryColor: rgba(255,110,64,0.87);
@darkColor: #2f2f2f;
@lightColor: #fff;
@warningColor: #d43f3a;
@okColor: #4cae4c;

// GENERAL ************************************************************
.btn-primary {
	background-color: @mainColor !important;
}

.btn-secondary {
	color: @mainColor !important;
}

.md-input-container {
	margin: 0 !important;
}

.packery-drop-placeholder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}


// NAVIGATION ****************************************************************************
.navbar {
	margin-bottom: 0;
	background-color: @mainColor;
	border: none;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);

	.navbar-brand {
		font-weight: bold;
		color: @lightColor !important;
	}

	.navbar-nav {
		a {
			color: @lightColor !important;
		}
	}

	.icon {
		color: @lightColor;
	}

	.activePage .icon, a:hover .icon, .navbar-brand:hover {
		color: @secondaryColor !important;
	}
}

// PAGE ****************************************************************************
.page{
	padding-top: 66px;
	min-height: 100vh;
}

// HOME **************************************************************************************
.homepage {
	background-size: cover;
    background-image: url('/img/intro.jpg');

	.intro {
		width: 50%;
    	margin: auto;
	}
}

// LOGIN & REGISTER & FLAT ***********************************************************************************
.login, .register, .flat {
	width: 30%;
    margin: auto;

	h1 {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
	}
	.form-control {
		width: 20% !important;
		margin: auto;
	}

	.btn-default {
		margin-top: 8px;
	}
}

// SETTINGS *******************************************************************
.settings {
	width: 70%;
	margin: auto;

	h1 {
		color: @mainColor;
		font-size: 24px;
		font-weight: bold;
	}

	.form-control {
		margin-top: 8px;
	}

	.nav-tabs {
		cursor: pointer !important;

		a {
			color: @mainColor !important;
		}

		.active a, a:hover{
			background-color: @mainColor !important;
			color: @backgroundColor !important;
		}
	}

	.inviteBtns {
		margin-top: 16px;
	}

	.moveBtn {
		margin-top: 30px;
	}

	.previewBackgroundImg {
		width: 100%;
		padding-bottom: 8px;
	}

	#widgetPreview{
		h3 {
			margin-top: 0;
			margin-bottom: 0;
			display: inline-block;
			max-width: 80%;
    		font-size: 1.5em;
		}

		.panel {
			border: none;

			.panel-heading{
				padding: 5px 15px;
				border: none;
			}
		}
		.resize{
			float: right;

			.fa{
				cursor: pointer;
			}
		}
	}
}

// DASHBOARD ****************************************************************************
#dashboard {
	background-size: cover;

	h3 {
		margin-top: 0;
    	margin-bottom: 0;
    	display: inline-block;
		max-width: 80%;
    	font-size: 1.5em;
	}

	.moveWidget {
		padding-right: 8px;
		padding-left: 8px;
	}

	.move {
		cursor: move;
		word-break: break-word;
	}

	.panel {
		border: none;

		.panel-heading{
			padding: 5px 15px;
			border: none;
		}
	}
}

.addWidgetBtn {
	position: fixed;
	bottom: 24px;
	right: 24px;
}

.undoDelete {
	position: absolute;
    background-color: @darkColor;
    bottom: 0;
    width: 20%;
    margin-left: 40%;
    color: @backgroundColor;
    padding: 8px;
    text-align: center;
	cursor: pointer;

	p {
		margin-bottom: 0;
	}
}
// WIDGETS
.widget {
	.resize{
		float: right;

		.fa{
			cursor: pointer;
		}
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	//TODO WIDGET
	.todo {
		li{
			cursor: pointer;

			div{
				display: inline-block;
			}
			.deleteTodo{
				float:right;
				display: none;
			}
			.checkSquare{
				padding-right: 16px;
			}
			.hoverSquare{
				display: none;
				padding-right: 14px;
			}
		}
		li:hover{
			.deleteTodo{
				display: block;
			}
			.checkSquare{
				display: none;
			}
			.hoverSquare{
				display: inline-block;
			}
		}
		.deleteTodo:hover{
			color: #c70000;
			font-size: 19px;
		}
	}
	// PICTURE WIDGET
	.picture {
		padding: 0;

		img {
			width: 100%;
		}
	}

	// BILL WIDGET
	.bill {
		.unpaidUser:hover {
			cursor: pointer;
			.fa {
				color: @okColor;
			}
		}
	}

	// POLL WIDGET
	.poll {
		.voteDate{
			font-size: 10px;
		}
	}
}

// WIDGETOVERLAY
#widgetDialog {
	min-width: 50%;

	.widgetBlock {
		min-height: 50vh;
		background-color: @backgroundColor;
		padding: 16px;
		
		h1 {
			color: @mainColor;
			font-size: 24px;
			font-weight: bold;
			margin-top: 0;
		}

		.typeBlock {
			float: left;
			padding: 8px;
			text-align: center;
			cursor: pointer;
			margin-right: 8px;
			color: @mainColor;
			border-radius: 3px;
		}
	}
}