.btn-primary {
  background-color: #42AB9E !important;
}
.btn-secondary {
  color: #42AB9E !important;
}
.navbar {
  margin-bottom: 0;
}
.navbar .navbar-brand {
  font-weight: bold;
  color: #42AB9E;
}
.navbar .navbar-nav a {
  color: #42AB9E !important;
}
.page {
  padding-top: 16px;
  min-height: calc(100vh - 50px);
}
.homepage {
  background-size: cover;
  background-image: url('/img/intro.jpg');
}
.homepage .intro {
  width: 50%;
  margin: auto;
}
.login h1,
.register h1,
.flat h1 {
  font-size: 24px;
  font-weight: bold;
}
.login .form-control,
.register .form-control,
.flat .form-control {
  width: 20% !important;
  margin: auto;
}
.login .btn-default,
.register .btn-default,
.flat .btn-default {
  margin-top: 8px;
}
.settings {
  width: 70%;
  margin: auto;
}
.settings h1 {
  color: #42AB9E;
  font-size: 24px;
  font-weight: bold;
}
.settings .form-control {
  margin-top: 8px;
}
.settings .nav-tabs {
  cursor: pointer !important;
}
.settings .nav-tabs a {
  color: #42AB9E !important;
}
.settings .nav-tabs .active a,
.settings .nav-tabs a:hover {
  background-color: #42AB9E !important;
  color: #f8f8f8 !important;
}
.settings .inviteBtns {
  margin-top: 16px;
}
.settings .moveBtn {
  margin-top: 30px;
}
.settings .previewBackgroundImg {
  width: 100%;
  padding-bottom: 8px;
}
#dashboard {
  background-size: cover;
}
#dashboard h3 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
#dashboard .moveWidget {
  padding-right: 8px;
  padding-left: 8px;
}
#dashboard .move {
  cursor: move;
  word-break: break-word;
}
#dashboard .panel {
  border: none;
}
#dashboard .panel .panel-heading {
  padding: 5px 15px;
  border: none;
}
.addWidgetBtn {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
.undoDelete {
  position: absolute;
  background-color: #2f2f2f;
  bottom: 0;
  width: 20%;
  margin-left: 40%;
  color: #f8f8f8;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
.undoDelete p {
  margin-bottom: 0;
}
.widget .resize {
  float: right;
}
.widget .resize .fa {
  cursor: pointer;
}
.widget ul {
  list-style: none;
  padding-left: 0;
}
.widget .todo li {
  cursor: pointer;
}
.widget .todo li div {
  display: inline-block;
}
.widget .todo li .deleteTodo {
  float: right;
  display: none;
}
.widget .todo li .checkSquare {
  padding-right: 16px;
}
.widget .todo li .hoverSquare {
  display: none;
  padding-right: 14px;
}
.widget .todo li:hover .deleteTodo {
  display: block;
}
.widget .todo li:hover .checkSquare {
  display: none;
}
.widget .todo li:hover .hoverSquare {
  display: inline-block;
}
.widget .todo .deleteTodo:hover {
  color: #c70000;
  font-size: 19px;
}
.widget .picture {
  padding: 0;
}
.widget .picture img {
  width: 100%;
}
.widget .bill .unpaidUser:hover {
  cursor: pointer;
}
.widget .bill .unpaidUser:hover .fa {
  color: #4cae4c;
}
#widgets {
  background-color: rgba(0, 0, 0, 0.38);
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 10;
}
#widgets .widgetBlock {
  position: relative;
  width: 50%;
  margin: auto;
  min-height: 50vh;
  background-color: #f8f8f8;
  padding: 16px;
  margin-top: 50px;
}
#widgets .widgetBlock h1 {
  color: #42AB9E;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}
#widgets .widgetBlock .closeIcon {
  position: absolute;
  right: 16px;
  top: 16px;
}
#widgets .widgetBlock .closeIcon:hover {
  cursor: pointer;
}
#widgets .widgetBlock .typeBlock {
  float: left;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  background-color: #d4d4d4;
  margin-right: 8px;
  color: #42AB9E;
  border-radius: 3px;
}
