/*  === GENERAL  === */
html,
body {
  min-height: 100%;
  height: auto;
}
.btn-primary {
  background-color: #00897b !important;
}
.btn-secondary {
  color: #00897b !important;
}
.md-input-container {
  margin: 0 !important;
}
.packery-drop-placeholder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
/*  === NAVIGATION  === */
.navbar {
  margin-bottom: 0;
  background-color: #00897b;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding-left: 10px;
  padding-right: 10px;
}
.navbar .navbar-brand {
  font-weight: bold;
  color: #fff !important;
}
.navbar .flatname {
  font-size: 25px;
  text-align: center;
  width: 50%;
  left: 25%;
  position: absolute;
}
.navbar .navbar-nav a {
  color: #fff !important;
}
.navbar .icon {
  color: #fff;
}
.navbar .activePage,
.navbar .activePage .icon,
.navbar a:hover .icon,
.navbar a:hover {
  color: rgba(255, 110, 64, 0.87) !important;
}
.navbar .userMenu button {
  height: 54px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/*  === PAGE === */
.page {
  padding-top: 66px;
  min-height: 100vh;
  padding-bottom: 24px;
}
/*  === HOME  === */
.homepage {
  background-size: cover;
  background-image: url('/img/intro.jpg');
}
/* === LOGIN & REGISTER & FLAT & PROFILE  === */
.login h1,
.register h1,
.flat h1,
.profile h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #00897b;
}
/* === SETTINGS === */
.settings .md-nav-bar {
  margin-bottom: 24px;
}
.settings #userSettings .table td div {
  display: inline-block;
}
.settings .inviteBtns {
  margin-top: 16px;
}
.settings .moveBtn {
  margin-top: 30px;
}
.settings .previewBackgroundImg {
  width: 100%;
  padding-bottom: 8px;
}
.settings #widgetPreview h3 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  max-width: 80%;
  font-size: 1.5em;
}
.settings #widgetPreview .panel {
  border: none;
}
.settings #widgetPreview .panel .panel-heading {
  padding: 5px 15px;
  border: none;
}
.settings #widgetPreview .resize {
  float: right;
}
.settings #widgetPreview .resize .fa {
  cursor: pointer;
}
/* === DASHBOARD === */
#dashboardBackground {
  background-size: cover;
  position: fixed;
  width: 100%;
  min-height: 100vh;
}
.addWidgetBtn {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
.md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  position: fixed;
}
/* === WIDGETS === */
.widget {
  margin: 8px;
  height: 100%;
  overflow: hidden;
  /* TODO WIDGET */
  /* PICTURE && GIF WIDGET */
  /* BILL WIDGET */
  /* POLL WIDGET */
  /* GROCERY WIDGET */
  /* WEATHER WIDGET */
  /* TEXT WIDGET */
  /* CALENDER WIDGET */
}
.widget .widgetHeader {
  padding: 5px 8px 5px 16px;
}
.widget .widgetHeader h3 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  max-width: 80%;
  font-size: 1.5em;
}
.widget .widgetBody {
  height: calc(100% - 34px);
  padding: 16px;
}
.widget .resize {
  float: right;
}
.widget .resize .fa {
  cursor: pointer;
}
.widget ul {
  list-style: none;
  padding-left: 0;
}
.widget .todo li {
  cursor: pointer;
}
.widget .todo li div {
  display: inline-block;
}
.widget .todo li .deleteTodo {
  float: right;
  display: none;
}
.widget .todo li .checkSquare {
  padding-right: 16px;
}
.widget .todo li .hoverSquare {
  display: none;
  padding-right: 14px;
}
.widget .todo li:hover .deleteTodo {
  display: block;
}
.widget .todo li:hover .checkSquare {
  display: none;
}
.widget .todo li:hover .hoverSquare {
  display: inline-block;
}
.widget .todo .deleteTodo:hover {
  color: #c70000;
  font-size: 19px;
}
.widget .picture {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: calc(100% - 18px);
  margin: -16px;
  position: absolute;
  width: 100%;
}
.widget .bill .unpaidUser:hover {
  cursor: pointer;
}
.widget .bill .unpaidUser:hover .fa {
  color: #4cae4c;
}
.widget .poll .voteDate {
  font-size: 10px;
}
.widget .grocery .fa:hover,
.widget .grocery li span:hover ~ .fa {
  color: #4cae4c;
  cursor: pointer;
}
.widget .calender .newCalItem {
  background-color: black;
  color: white;
  border-color: black;
}
/* === DIALOGS === */
.md-dialog-container {
  height: 100vh !important;
  position: fixed;
}
.addDialog {
  min-width: 50%;
}
.addDialog .navView {
  padding: 16px;
  min-height: 50vh;
}
.addDialog .navView h2 {
  color: #00897b;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.smallDialog {
  text-align: center;
  padding: 16px;
}
/* === WIDGET DIALOG === */
#widgetDialog .widgetBlock {
  min-height: 50vh;
  background-color: #fafafa;
  padding: 16px;
}
#widgetDialog .widgetBlock h1 {
  color: #00897b;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}
#widgetDialog .widgetBlock .typeBlock {
  float: left;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  margin-right: 8px;
  color: #00897b;
  border-radius: 3px;
}
#widgetDialog .widgetBlock .restoreTable tr:first-child td {
  border: none;
}
#widgetDialog .widgetBlock .restoreTable p {
  margin-top: 10px;
}
#widgetDialog .widgetBlock .restoreTable .md-accent {
  margin: 0 8px;
}
