<h2>{{'EXPENSES' | translate}}</h2>
<md-input-container class="md-block" flex-gt-sm>
    <label>{{'TITLE' | translate}}</label>
    <input ng-model="ctrl.widgetForm.title">
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
    <label>{{'SUMMARY' | translate}}</label>
    <textarea ng-model="ctrl.addBillForm.summary"></textarea>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
    <label>{{'TOTAL_AMOUNT' | translate}}</label>
    <input type="number" step="0.01" ng-model="ctrl.addBillForm.amount">
</md-input-container>
<p>{{'SPLIT' | translate}}</p>
<div layout-gt-xs="row" ng-repeat="flatmate in ctrl.flat.users | filter: {id: '!' + ctrl.user.id}">
    <md-input-container class="md-block" flex-gt-sm>
        <md-checkbox ng-model="ctrl.addBillForm.users[flatmate.id]" aria-label="pollMultipleVotes" ng-value="flatmate.id">
            {{flatmate.username}}
        </md-checkbox>
    </md-input-container>
    <!--<md-input-container class="md-block" flex-gt-sm>
        <label>ows (in €)</label>
        <input type="number" ng-value="ctrl.addBillForm.amount / ctrl.addBillForm.users.length">
    </md-input-container>-->
</div>