<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">

			<!-- hamburger -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

			<!-- appName -->
            <a class="navbar-brand" href="#/">
                HabiChat
            </a>
		</div>

		<div class="collapse navbar-collapse" id="app-navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="user.loggedIn" id="dashboardLink"><a href="#dashboard"><md-tooltip>Dashboard</md-tooltip><md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_dashboard_24px.svg" aria-label="Dashboard"></md-icon></a></li>
                <li ng-show="user.loggedIn" id="settingsLink"><a href="#settings"><md-tooltip>Settings</md-tooltip><md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_settings_24px.svg" aria-label="Settings"></md-icon> </a></li>
                <li ng-show="user.loggedIn"><a href="#logout"><md-tooltip>Log out</md-tooltip><md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_power_settings_new_24px.svg" aria-label="Logout"></md-icon> </a></li>

                <li ng-hide="user.loggedIn"><a href="#login">Login</a></li>
                <li ng-hide="user.loggedIn"><a href="#register">Register</a></li>
            </ul>
		</div>
	</div>
</nav>