<md-dialog aria-label="Widget dialog" id="widgetDialog" class="addDialog">
    <md-dialog-content data-simplebar>
        <div class="widgetBlock">
            <h1>Widgets</h1>
            <div ng-hide="ctrl.widgetForm.type" class="clearfix">
                <div class="typeBlock col-md-2 col-xs-11" ng-click="ctrl.widgetForm.type = 'Todo'">
                    <md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_list_24px.svg" aria-label="todo"></md-icon>
                    <p>Todo</p>
                </div>
                <div class="typeBlock col-md-2 col-xs-11" ng-click="ctrl.widgetForm.type = 'Grocery'">
                    <md-icon class="icon" md-svg-src="bower_components/material-design-icons/maps/svg/design/ic_local_grocery_store_24px.svg" aria-label="grocery"></md-icon>
                    <p>{{'GROCERY' | translate}}</p>
                </div>
                <div class="typeBlock col-md-2 col-xs-11" ng-click="ctrl.widgetForm.type = 'Text'">
                    <md-icon class="icon" md-svg-src="bower_components/material-design-icons/editor/svg/design/ic_format_align_left_24px.svg" aria-label="text"></md-icon>
                    <p>{{'TEXT' | translate}}</p>
                </div>
                <div class="typeBlock col-md-2 col-xs-11" ng-click="ctrl.widgetForm.type = 'Picture'">
                    <md-icon class="icon" md-svg-src="bower_components/material-design-icons/image/svg/design/ic_image_24px.svg" aria-label="picture"></md-icon>
                    <p>{{'PICTURE' | translate}}</p>
                </div>
                <div class="typeBlock col-md-2 col-xs-11" ng-click="ctrl.widgetForm.type = 'Weather'">
                    <md-icon class="icon" md-svg-src="bower_components/material-design-icons/image/svg/design/ic_wb_sunny_24px.svg" aria-label="weather"></md-icon>
                    <p>{{'WEATHER' | translate}}</p>
                </div>
                <div class="typeBlock col-md-2 col-xs-11" ng-click="ctrl.widgetForm.type = 'Bill'">
                    <md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_euro_symbol_24px.svg" aria-label="expense"></md-icon>
                    <p>{{'EXPENSES' | translate}}</p>
                </div>
                <div class="typeBlock col-md-2 col-xs-11" ng-click="ctrl.widgetForm.type = 'Catgif'">
                    <md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_pets_24px.svg" aria-label="catgif"></md-icon>
                    <p>{{'CAT' | translate}}</p>
                </div>
                <div class="typeBlock col-md-2 col-xs-11" ng-click="ctrl.widgetForm.type = 'Poll'">
                    <md-icon class="icon" md-svg-src="bower_components/material-design-icons/social/svg/design/ic_poll_24px.svg" aria-label="poll"></md-icon>
                    <p>Poll</p>
                </div>
                <div class="typeBlock col-md-2 col-xs-11" ng-click="ctrl.widgetForm.type = 'Calender'">
                    <md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_event_24px.svg" aria-label="calendar"></md-icon>
                    <p>{{'CALENDER' | translate}}</p>
                </div>
                <div class="typeBlock col-md-2 col-xs-11" ng-click="ctrl.widgetForm.type = 'Chore'">
                    <md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_group_work_24px.svg" aria-label="chore"></md-icon>
                    <p>{{'CHORES' | translate}}</p>
                </div>
            </div>
            <div ng-show="ctrl.widgetForm.type">
                <md-nav-bar nav-bar-aria-label="Add widget navbar" md-selected-nav-item="addView"  ng-init="addView = 'add'">
                    <md-nav-item md-nav-click="goto('add')" name="add">
                        {{'ADD' | translate}}
                    </md-nav-item>
                    <md-nav-item md-nav-click="goto('restore')" name="restore">
                       {{'RESTORE' | translate}}
                    </md-nav-item>
                </md-nav-bar>
                <div ng-show="addView === 'add'" class="navView">
                    <form ng-submit="ctrl.addWidget()">
                            <div ng-include="'widgets/forms/' + ctrl.widgetForm.type + 'Form.html'"></div>
                            <md-button type='submit' class="md-raised md-primary">{{'ADD' | translate}}</md-button>
                            <md-button ng-click="ctrl.widgetForm = {}">{{'RETURN' | translate}}</md-button>
                    </form>
                </div>
                <div ng-show="addView === 'restore'" class="navView">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed restoreTable">
                            <tr ng-repeat="widget in ctrl.flat.widgets | filter:{visible:0} | filter:{widget_type:ctrl.widgetForm.type} as typeWidgets">
                                <td><h2>{{widget.title}}</h2></td>
                                <td><p>{{widget.items.length}} {{(widget.items.length != '1' ? 'items' : 'item') | translate}}</p></td>
                                <td><md-button class="md-accent" ng-click="ctrl.deleteWidget(widget.id)">{{'RESTORE' | translate}}</md-button></td>
                            </tr>
                        </table>
                    </div>
                    <p ng-hide="typeWidgets.length">{{'NO_DELETED_WIDGETS' | translate}}.</p>
                    <md-button ng-click="ctrl.widgetForm = {}; addView = 'add'">{{'RETURN' | translate}}</md-button>
                </div>
            </div>
            <md-button class="md-raised" ng-click="ctrl.closeDialog()">
                {{'CLOSE' | translate}}
            </md-button>
        </div>
    </md-dialog-content>
</md-dialog>