<div class="chore" ng-init="setHeight(widget.id)" ng-controller="choreCtrl">
    <div class="table-responsive" data-simplebar>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th><p>{{'WEEK.1' | translate}}</p></th>
                    <th><p>{{'WEEK.2' | translate}}</p></th>
                    <th><p>{{'WEEK.3' | translate}}</p></th>
                    <th><p>{{'WEEK.4' | translate}}</p></th>
                    <th><p>{{'WEEK.5' | translate}}</p></th>
                    <th><p>{{'WEEK.6' | translate}}</p></th>
                    <th><p>{{'WEEK.7' | translate}}</p></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="flatmate in flat.users">
                    <th><p>{{flatmate.username}}</p></th>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:1"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:2"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:3"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:4"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:5"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:6"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:7"><p>{{item.title}}</p></div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <md-button ng-click="showChoreDialog($event, widget.id)" class="pull-right widgetBtn" aria-label="Add chore">
        {{'ADD_CHORE' | translate}}
    </md-button>
</div>