<div class="weather" ng-controller="weatherCtrl" ng-init="getWeather(widget.id, widget.title)">
	<div>
		<i ng-class="'wi wi-owm-'+weather[widget.id].weather[0].id"></i>
    	<p>{{weather[widget.id].weather[0].description}}</p>
	</div>
	<div class="clearfix">
		<p class="col-xs-4">min: {{weather[widget.id].main.temp_min}}°C</p>
		<p class="col-xs-4">max: {{weather[widget.id].main.temp_max}}°C</p>
		<p class="col-xs-4">{{'HUM' | translate}}: {{weather[widget.id].main.humidity}}%</p>
	</div>
</div>