<h3>Your flatmates are waiting for you</h3>

<p>Hi {{ name }}!</p>
<p>{{owner}} invited you to join his flat on Habichat.<p/>
<p>Accept his invitation by pressing <a href="http://habichat.local/#/invite/{{key}}">this link.</a></p>
<p>The link is valid for two days.</p>