<div class="bill">
    <p class="smallText">{{'AMOUNT' | translate}}</p>
    <p><strong>{{widget.items[0].amount | currency:"€"}}</strong></p>
    <p class="smallText">{{'SUMMARY' | translate}}</p>
    <p>{{widget.items[0].summary}}</p>
    <p class="smallText">{{'DIVIDED_BETWEEN' | translate}}</p>
    <div ng-show="widget.items[0].unpaid_users.length">
        <ul>
            <li ng-repeat="unpaidUser in widget.items[0].unpaid_users" class="unpaidUser" ng-click="billPaid(widget.id, widget.items[0].id, unpaidUser.id)">
                <md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_account_balance_wallet_24px.svg" aria-label="wallet"></md-icon>
                {{unpaidUser.username}} 
                <span class="pull-right">{{(widget.items[0].amount / widget.items[0].unpaid_users.length) | currency:"€"}}</span>
            </li>
        </ul>
        <p>{{widget.items[0].account}}</p>
    </div>
    <p ng-hide="widget.items[0].unpaid_users.length && !widget.items[0].paid_users.length"><strong>{{'EVERYBODY_PAID' | translate}}!</strong></p>
    <div class="done" ng-show="widget.items[0].paid_users.length">
        <ul>
            <li ng-repeat="paidUser in widget.items[0].paid_users" class="paidUser">
                <md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_account_balance_wallet_24px.svg" aria-label="wallet"></md-icon>
                {{paidUser.username}}
            </li>
        </ul>
    </div>
</div>