<div class="bill">
    <p class="smallText">{{'AMOUNT' | translate}}</p>
    <p><strong>{{widget.items[0].amount | currency:"€"}}</strong></p>
    <p class="smallText">{{'SUMMARY' | translate}}</p>
    <p>{{widget.items[0].summary}}</p>
    <p class="smallText">{{'DIVIDED_BETWEEN' | translate}}</p>
    <div ng-show="widget.items[0].payers.length">
        <ul>
            <li ng-repeat="payer in widget.items[0].payers" ng-click="billPaid(widget.id, widget.items[0].id, payer.id)" ng-class="payer.paid ? 'paid' : 'unpaid'">
                <md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_account_balance_wallet_24px.svg" aria-label="wallet"></md-icon>
                <p>{{payer.user.username}} {{(user.id === payer.user.id ? 'YOU' : '') | translate}}</p>
                <span class="pull-right">{{payer.amount | currency:"€"}}</span>
            </li>
        </ul>
        <p>{{widget.items[0].account}}</p>
    </div>
</div>