<div class="chore" ng-init="setHeight(widget.id)">
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th><p>Mon</p></th>
                    <th><p>Tue</p></th>
                    <th><p>Wed</p></th>
                    <th><p>Thu</p></th>
                    <th><p>Fri</p></th>
                    <th><p>Sat</p></th>
                    <th><p>Sun</p></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="flatmate in flat.users">
                    <th><p>{{flatmate.username}}</p></th>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:1"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:2"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:3"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:4"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:5"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:6"><p>{{item.title}}</p></div></td>
                    <td><div ng-repeat="item in widget.items | choreDay:flatmate.id:7"><p>{{item.title}}</p></div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <md-button ng-click="showChoreDialog($event, widget.id)" class="pull-right widgetBtn" aria-label="Add chore">
        {{'ADD_CHORE' | translate}}
    </md-button>
</div>