<div class="panel-body">
    <p ng-hide="widget.items.length">No groceries on your list</p>
    <ul>
        <li ng-repeat="grocery in widget.items" reload-packery>
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <span ng-click="deleteGrocery(widget.id, grocery.id)">{{grocery.item}}</span>
        </li>
    </ul>
    <form ng-submit="postGrocery(widget.id, groceryForm.item); groceryForm.item = ''">
        <div class="input-group">
            <input type="text" ng-model="groceryForm.item" id="addGrocery" name="grocery" class="form-control" placeholder="Add a grocery">
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit" ng-style="buttonStyle"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            </span>
    </div>
    </form> 
</div>