<div class="grocery">
    <p ng-hide="widget.items.length">{{'NO_GROCERIES' | translate}}.</p>
    <ul>
        <li ng-repeat="grocery in widget.items">
            <md-icon class="icon" md-svg-src="bower_components/material-design-icons/maps/svg/design/ic_local_grocery_store_24px.svg" aria-label="grocery"></md-icon>
            <span ng-click="deleteGrocery(widget.id, grocery.id)">{{grocery.item}}</span>
        </li>
    </ul>
    <form ng-submit="postGrocery(widget.id, groceryForm.item); groceryForm.item = ''">
        <div class="input-group">
            <input type="text" ng-style="inputTextStyle" ng-model="groceryForm.item" id="addGrocery" name="grocery" class="form-control" placeholder="{{'ADD_GROCERY' | translate}}">
            <span class="input-group-btn" ng-show="groceryForm.item">
                <button class="btn" type="submit"><md-icon ng-style="inputBtnStyle" md-svg-src="bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon></button>
            </span>
    </div>
    </form> 
</div>