<div class="todo" ng-controller="todoCtrl">
    <p ng-hide="widget.items.length">{{'NO_TODO' | translate}}</p>
    <ul>
        <li ng-repeat="item in widget.items | filter: {done: '0'} as notDone">
            <div ng-click="toggleTodoDone(widget.id, item.id)">
                 <md-checkbox class="checkboxColor" aria-label="Todo">{{item.title}}</md-checkbox>
            </div>
            <md-icon class="icon deleteTodo" ng-click="deleteTodo(widget.id, item.id)" md-svg-src="bower_components/material-design-icons/content/svg/design/ic_clear_24px.svg" aria-label="Close chat"></md-icon>
        </li>
    </ul>
    <p ng-show="widget.items.length && !notDone.length">{{'ALL_TODO' | translate}}!</p>
    <div class="done" ng-show="widget.items.length">
        <p class="smallText">{{'DONE' | translate}}</p>
        <ul>
            <li ng-repeat="item in widget.items | filter: {done: '1'} as dones">
                <div ng-click="toggleTodoDone(widget.id, item.id)">
                    <md-checkbox ng-checked="true" class="checkboxColor" aria-label="Todo">{{item.title}}</md-checkbox>
                </div>
                 <md-icon class="icon deleteTodo" ng-click="deleteTodo(widget.id, item.id)" md-svg-src="bower_components/material-design-icons/content/svg/design/ic_clear_24px.svg" aria-label="Close chat"></md-icon>
        </ul>
        <p ng-show="!dones.length">{{'NONE_TODO' | translate}}!</p>
    </div>
    <form ng-submit="postTodo(widget.id, todoForm.title); todoForm.title = ''">
        <div class="input-group">
            <input ng-style="inputTextStyle" type="text" ng-model="todoForm.title" id="addTodo" name="todo" class="form-control" placeholder="{{'ADD_TODO' | translate}}">
            <span class="input-group-btn" ng-show="todoForm.title">
                <button class="btn" type="submit"><md-icon ng-style="inputBtnStyle" md-svg-src="bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon></button>
            </span>
        </div>
    </form> 
</div>
</div>
