<div id="dashboardBackground" ng-style="dashboardStyle"></div>
<div class="container-fluid page" id="dashboard">
	<div class="row">
		<div class="col-md-12">
			<div class="widgets grid-stack" gridstack options="gridOptions" on-change="onGridChange(event,items)" on-drag-stop="onGridDragStop(event,ui)" on-resize-stop="onGridResizeStop(event,ui)">
				<div ng-repeat="widget in flat.widgets" id="{{widget.id}}" gridstack-item gs-item-x="widget.x" gs-item-y="widget.y" gs-item-width="widget.width" gs-item-height="widget.height">
					<div ng-style="widgetStyle" class="widget grid-stack-item-content">
						<div class="widgetHeader" ng-style="headerStyle">
							<h3>{{widget.title}}</h3>
							<div class="resize">
								<i ng-if="!widget.user || widget.user.id === user.id || user.role === 'ROLE_ADMIN'" class="fa fa-times" aria-hidden="true" ng-click="deleteWidget(widget.id)" data-toggle="tooltip" title="Delete widget" onmouseenter="$(this).tooltip()"></i>
							</div>
						</div>
						<div class="widgetBody" ng-include="'widgets/' + widget.widget_type + '.html'"></div>
					</div>
				</div>
				<h2 ng-hide=" flat.widgets.length" class="text-center">There are no widgets set.</h2>
			</div>
		</div>
	</div>
	<div ng-click="showWidgetDialog($event)" class="addWidgetBtn">
		<md-button class="md-fab md-medium md-primary" aria-label="Add widget">
			<md-icon md-svg-src="bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon>
		</md-button>
	</div>
</div>