<div class="container page">
	<div class="col-md-4 col-md-offset-4 flat">
		<h1>{{'CREATEDASH' | translate}}</h1>
		<form ng-submit="flatForm.$valid && createFlat()" name="flatForm" novalidate>
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{'HOUSEHOLDNAME' | translate}}</label>
				<input ng-model="registerFlat.name" required md-minlength="3">
				<div ng-messages="registerFlat.name.$error">
					<div ng-message="required">{{'HOUSEHOLDREQUIRED' | translate}}</div>
					<div ng-message="md-minlength">{{'HOUSEHOLDLONGER' | translate}}</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{'STREET' | translate}}</label>
				<input ng-model="registerFlat.street" required md-minlength="3">
				<div ng-messages="registerFlat.street.$error">
					<div ng-message="required">{{'STREETREQUIRED' | translate}}</div>
					<div ng-message="md-minlength">{{'STREETLONGER' | translate}}</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{'NUMBER' | translate}}</label>
				<input type="number" ng-model="registerFlat.number" required>
				<div ng-messages="registerFlat.number.$error">
					<div ng-message="required">{{'NUMBERREQUIRED' | translate}}</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{'ZIPCODE' | translate}}</label>
				<input ng-model="registerFlat.zipcode" required md-minlength="4">
				<div ng-messages="registerFlat.zipcode.$error">
					<div ng-message="required">{{'ZIPREQUIRED' | translate}}</div>
					<div ng-message="md-minlength">{{'ZIPCODELONGER' | translate}}</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{'CITY' | translate}}</label>
				<input ng-model="registerFlat.city" required md-minlength="3">
				<div ng-messages="registerFlat.city.$error">
					<div ng-message="required">{{'CITYREQUIRED' | translate}}</div>
					<div ng-message="md-minlength">{{'CITYLONGER' | translate}}</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{'COUNTRY' | translate}}</label>
				<input ng-model="registerFlat.country" required md-minlength="3">
				<div ng-messages="registerFlat.country.$error">
					<div ng-message="required">{{'COUNTRYREQUIRED' | translate}}</div>
					<div ng-message="md-minlength">{{'COUNTRYLONGER' | translate}}</div>
				</div>
			</md-input-container>
			<div ng-init="inviteList.invites = [{email: ''}]">
				<p>{{'INVITEROOMIES' | translate}}</p>
				<md-input-container class="md-block" flex-gt-sm ng-repeat="invite in inviteList.invites">
					<label>{{'ROOMIE_EMAIL' | translate}}</label>
					<input type="email" ng-model="invite.email">
				</md-input-container>
				<md-button ng-click="inviteList.invites.push({email: ''})">{{'ADDROOMIE' | translate}}</md-button>
			</div>
			<md-button type='submit' class="md-raised md-primary" ng-disabled="flatForm.$invalid">{{'CREATE' | translate}}</md-button>
		</form>
	</div>
</div>