<div class="container-fluid page homepage">
	<div class="col-md-6 col-md-offset-3 homediv">
		<div class="intro">
			<img src="habichat.png" alt="habichat">
			<h1>Habichat</h1>
		</div>
		<p>The online personalisable dashboard made for cohabitants.<br>
			Use this one single app to keep track of the chores, bills, events and overall communication of your household.<br>
			All of this in one clear environment that is completely personalisable from your choice of widgets to which color they have on what background.<br>
			Start now, create a page for your household, easily invite all your roommates and there will never be another communication problem inside your home!</p>
	</div>
</div>