<div class="container page">
	<div class="col-md-4 col-md-offset-4 profile">
		<h1>{{'MY' | translate}} {{'PROFILE' | translate}}</h1>
		<form ng-submit="registerForm.$valid && updateProfile(user.id)" name="registerForm" novalidate class="clearfix">
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{'USERNAME' | translate}}</label>
				<input ng-model="user.username" required>
				<div ng-messages="user.username.$error">
					<div ng-message="required">{{'USERNAMEREQUIRED' | translate}}</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{'EMAIL' | translate}}{{'ADRESS' | translate}}</label>
				<input ng-model="user.email" required>
				<div ng-messages="user.email.$error">
					<div ng-message="required">{{'EMAILREQUIRED' | translate}}</div>
				</div>
			</md-input-container>
			<md-button type='submit' class="md-raised md-primary pull-right" ng-disabled="registerForm.$invalid">{{'UPDATE' | translate}} {{'PROFILE' | translate}}</md-button>
		</form>
		<form ng-submit="passForm.$valid && updatePassword(user.id)" name="passForm" novalidate class="clearfix">
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{'OLD' | translate}} {{'PASSWORD' | translate}}</label>
				<input type="password" ng-model="passForm.old" required md-minlength="5">
				<div ng-messages="passForm.old.$error">
					<div ng-message="required">{{'PASSWORDREQUIRED' | translate}}</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{'NEW' | translate}} {{'PASSWORD' | translate}}</label>
				<input type="password" ng-model="passForm.new" required md-minlength="5">
				<div ng-messages="passForm.new.$error">
					<div ng-message="required">{{'PASSWORDREQUIRED' | translate}}</div>
					<div ng-message="md-minlength">{{'PASSWORDLONGER' | translate}}</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm ng-show="passForm.new">
				<label>{{'REPEAT' | translate}}</label>
				<input type="password" ng-model="passForm.repeat" required md-minlength="5">
				<div ng-messages="passForm.repeat.$error">
					<div ng-message="required">{{'PASSWORDREQUIRED' | translate}}</div>
					<div ng-message="md-minlength">{{'PASSWORDLONGER' | translate}}</div>
				</div>
			</md-input-container>
			<md-button type='submit' class="md-raised md-primary pull-right" ng-disabled="passForm.$invalid">{{'CHANGE' | translate}} {{'PASSWORD' | translate}}</md-button>
		</form>
	</div>
</div>