<div class="container">
	<div class="text-center">
		<h1>Register</h1>
		<form ng-submit="registerForm.$valid && registerUser()" name="registerForm" novalidate>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username" ng-model="registerUser.username" required>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="E-mailadress" ng-model="registerUser.email" required ng-minlength="3">	
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" ng-model="registerUser.password" required ng-minlength="3">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Repeat password" ng-model="registerUser.passwordRepeat" required ng-minlength="3">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Register</button>
			</div>
		</form>
	</div>
</div>