<div class="container page">
	<div>
		<div ng-init="settingsView = 'style'" class="settingsDiv">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a ng-click="settingsView = 'style'" data-toggle="pill">Style</a></li>
				<li role="presentation"><a ng-click="settingsView = 'flat'" data-toggle="pill">Flat</a></li>
			</ul>
			<div id="styleSettings" ng-show="settingsView === 'style'">
				<h1>Style</h1>
				<form>
					<div class="form-group">
						<label>Background image</label>
						<img src="../backend/web/uploads/backgrounds/{{user.flat.background_image}}" class="previewBackgroundImg"/>
						<input type="file" background-change class="form-control" id="backgroundImage">
					</div>
					<div class="form-group">
						<label for="widgetColor">widget color</label>
						<input type="color" ng-change="changeFlatSettings()" ng-model="user.flat.widget_color" class="form-control" id="widgetColor">
					</div>
					<div class="form-group">
						<label for="headerColor">header color</label>
						<input type="color" ng-change="changeFlatSettings()" ng-model="user.flat.header_color" class="form-control" id="headerColor">
					</div>
					<div class="form-group">
						<label for="fontColor">font color</label>
						<input type="color" ng-change="changeFlatSettings()" ng-model="user.flat.font_color" class="form-control" id="fontColor">
					</div>
				</form>
			</div>
			<div id="userSettings" ng-show="settingsView === 'flat'">
				<h1>Flat</h1>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th ng-if="user.role === 'ROLE_ADMIN'">Admin actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="flatmate in user.flat.users" ng-if="flatmate.id !== user.id">
							<td>{{flatmate.username}}{{flatmate.role === 'ROLE_ADMIN' ? ' | Admin' : ''}}</td>
							<td>{{flatmate.email}}</td>
							<td ng-if="user.role === 'ROLE_ADMIN'">
								<div ng-click="moveOutFlat(flatmate.id)">
									<i class="fa fa-times" aria-hidden="true"></i>
									Delete from this flat
								</div>
								<div ng-click="toggleUserRole(flatmate.id)">
									<i class="fa fa-user-circle" aria-hidden="true"></i>
									{{flatmate.role === 'ROLE_ADMIN' ? 'Make user' : 'Make admin'}}
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<p>Invite your flatmates</p>
				<input type="text">
				<button class="btn btn-primary">Send invites</button>
				<button class="btn btn-default" ng-click="moveOutFlat(user.id)">Move out of this flat</button>
			</div>
		</div>
	</div>
</div>