<div class="container page">
	<div class="settings">
		<div ng-init="settingsView = 'style'" class="settingsDiv">
			<md-nav-bar nav-bar-aria-label="Settings navigation" md-selected-nav-item="settingsView">
				<md-nav-item md-nav-click="goto('style')" name="style">
					Style
				</md-nav-item>
				<md-nav-item md-nav-click="goto('flat')" name="flat">
					Flat
				</md-nav-item>
			</md-nav-bar>
			<div id="styleSettings" ng-show="settingsView === 'style'">
				<!--<h1>Style</h1>-->
				<form>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<p>Background image</p>
								<img src="../backend/web/uploads/{{flat.flat_token + '/' + flat.background_image}}" class="previewBackgroundImg"/>
							</div>
						</div>
						<div class="col-md-6">
							<input class="ng-hide" id="backgroundImage" multiple type="file" background-change/>
        					<label for="backgroundImage" class="md-button md-raised">Change backgroundimage</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6" id="widgetPreview">
							<p>Widget</p>
							<div class="panel panel-default" ng-style="{'background-color': flat.widget_color, 'color': flat.font_color}">
								<div class="panel-heading" ng-style="{'background-color': flat.header_color, 'color': flat.font_color}">
									<h3>This is the title</h3>
									<div class="resize">
										<i class="fa fa-window-restore" aria-hidden="true" data-toggle="tooltip" title="Resize widget" onmouseenter="$(this).tooltip()"></i>
										<i class="fa fa-times" aria-hidden="true" data-toggle="tooltip" title="Delete widget" onmouseenter="$(this).tooltip()"></i>
									</div>
								</div>
								<div class="panel-body">
									<p>This is the content</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
								<div md-color-picker ng-model="flat.widget_color" ng-change="changeFlatSettings()" label="Widget color"></div>
								<div md-color-picker ng-model="flat.header_color" ng-change="changeFlatSettings()" label="Header color"></div>
								<div md-color-picker ng-model="flat.font_color" ng-change="changeFlatSettings()" label="Font color"></div>
						</div>
					</div>
				</form>
			</div>
			<div id="userSettings" ng-show="settingsView === 'flat'">
				<!--<h1>Flat</h1>-->
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th ng-if="user.role === 'ROLE_ADMIN'">Admin actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="flatmate in flat.users" ng-if="flatmate.id !== user.id">
							<td>{{flatmate.username}}{{flatmate.role === 'ROLE_ADMIN' ? ' | Admin' : ''}}</td>
							<td>{{flatmate.email}}</td>
							<td ng-if="user.role === 'ROLE_ADMIN'">
								<div ng-click="toggleUserRole(flatmate.id)">
									<md-tooltip>{{flatmate.role === 'ROLE_ADMIN' ? 'Make user' : 'Make admin'}}</md-tooltip><md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_supervisor_account_24px.svg" aria-label="Change user"></md-icon>
								</div>
								<div ng-click="moveOutFlat(flatmate.id)">
									<md-tooltip>Delete from this flat</md-tooltip><md-icon class="icon" md-svg-src="bower_components/material-design-icons/action/svg/design/ic_delete_24px.svg" aria-label="Delete"></md-icon>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col-md-6" ng-init="inviteList.invites = [{email: ''}]">
						<md-input-container class="md-block" flex-gt-sm ng-repeat="invite in inviteList.invites">
							<label>Invite your flatmate</label>
							<input type="email" ng-model="invite.email">
						</md-input-container>
						<md-button class="md-raised" ng-click="inviteList.invites.push({email: ''})">+</md-button>
					</div>
					<div class="col-md-6">
						<md-button class="md-raised md-primary" ng-click="sendInvites()">Send invites</md-button>
					</div>
				</div>
				<div ng-if="user.role === 'ROLE_ADMIN'">
					<h1>Admin settings</h1>
					<div class="row">
						<div class="col-md-6">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Street</label>
								<input ng-model="flat.street">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Nummber</label>
								<input ng-model="flat.number">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Zipcode</label>
								<input ng-model="flat.zipcode">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>City</label>
								<input ng-model="flat.city">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Country</label>
								<input ng-model="flat.country">
							</md-input-container>
						</div>
						<div class="col-md-6">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Flatname</label>
								<input ng-model="flat.name">
							</md-input-container>
							<md-button class="md-raised md-primary" ng-click="changeFlatSettings()">Save flat</md-button>
						</div>
					</div>
				</div>
				<md-button class="md-raised moveBtn" ng-click="moveOutFlat(user.id)">Move out of this flat</md-button>
				<md-button ng-if="user.role === 'ROLE_ADMIN'" class="md-raised md-warn moveBtn" ng-click="deleteFlat(flat.id)">Delete this flat</md-button>
			</div>
		</div>
	</div>
</div>